@font-face {
    font-family: "Open4";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Raleway4";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway7";
    src: url(../fonts/Raleway-Bold.ttf);
}
$font1: Open4, sans-serif;
$font2: Raleway4, sans-serif;
$font3: Raleway7, sans-serif;
$white: #ffffff;
$gray: hsl(0, 0%, 75%);
$btn: hsl(224, 93%, 58%);
$link: hsl(170, 45%, 43%);
$section1: hsl(240, 75%, 98%);
$section2: hsl(238, 22%, 44%);
$footer: hsl(243, 87%, 12%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: $font1;
    font-weight: bold;
}
h2, h3 {
    font-family: $font3;
}
p {
    font-family: $font1;
}
nav li {
    list-style-type: none;
    cursor: pointer;
    font-family: $font2;
}
li {
    list-style-type: none;
    cursor: pointer;
    font-family: $font1;
}
button {
    font-family: $font3;
    font-size: 0.7rem;
    background: $btn;
    color: $white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}